.carousel {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-x: scroll; 
    scroll-snap-type: x proximity;
}

.carousel .item {
    display: block;
    position: relative;
    padding: 1rem;
    text-align: center;
    scroll-snap-align: center;
    background-color: teal; 
    z-index: 0;
}

.carousel .item:first-child {
    scroll-snap-align: start;
}

.carousel .item:last-child {
    scroll-snap-align: end;
}

.carousel .item p,
.carousel .item img {
    display: block;
    pointer-events: none;
}

.carousel .item .selection {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
