.playerexisting {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    margin: 1rem;
}

.playernew {
    display: block;
    flex: 1;
    margin: 1rem;
}

.playernew img {
    margin-top: 1rem;
}

.playernew form {
    margin-top: 1rem;
}

.playernew form button {
    margin-top: 1rem;
}
