.touchcircle {
    animation: pulse 0.5s ease-in-out infinite alternate;
}

.touchcircle.move {
    transition: all 0.5s ease-in-out;
    transform: scale(1);
    animation: none;
}

.touchcircle.active {
    stroke: blue;
    animation: pulse 0.5s ease-in-out infinite alternate;
}

.touch-num {
    font-family: Arial, sans-serif;
    font-weight: bold;
    fill: #cccccc;
    text-align: center;
}

@keyframes pulse {
    from {
        transform: scale(0.8);
    }
}
